.dangnhap-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.dangnhap-thq-dangnhap-elm {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-frame792735-elm {
  gap: 91px;
  width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dangnhap-thq-header-elm {
  gap: 24px;
  display: flex;
  padding: 32px;
  overflow: hidden;
  flex-wrap: wrap;
  align-self: stretch;
  box-shadow: 0px 4px 44.29999923706055px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-logotchnn1-elm1 {
  width: 183px;
  height: 50px;
}
 
.dangnhap-thq-navigation-pill-list-elm {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.dangnhap-thq-khunggdangkydangnhap-elm {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url("/favicon.svg");
}
 
.dangnhap-thq-framengnhp-elm {
  gap: 16px;
  width: 600px;
  height: 624px;
  display: flex;
  padding: 24px 16px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-textngkngnhp-elm {
  width: 552px;
  height: 77px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-text-elm10 {
  left: 45px;
  color: rgba(30, 30, 30, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.dangnhap-thq-framengkngnhp-elm {
  gap: 24px;
  width: 454px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
 
.dangnhap-thq-input-field-elm1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dangnhap-thq-text-elm11 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-input-elm1 {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-input-field-elm2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dangnhap-thq-text-elm12 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-input-elm2 {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-button-group-elm {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dangnhap-thq-button-elm {
  gap: 8px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(44, 44, 44, 1);
}
 
.dangnhap-thq-text-elm13 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.dangnhap-thq-frame792736-elm {
  gap: 87px;
  width: 454px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.dangnhap-thq-chactikhon-elm1 {
  gap: 6px;
  display: flex;
  align-items: center;
}
 
.dangnhap-thq-text-elm14 {
  display: flex;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm15 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-text-link-elm {
  display: flex;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm16 {
  color: rgba(38, 0, 255, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-chactikhon-elm2 {
  gap: 6px;
  display: flex;
  align-items: center;
}
 
.dangnhap-thq-text-elm17 {
  display: flex;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm18 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-footer-elm {
  gap: 199px;
  width: 1440px;
  height: 351px;
  display: flex;
  padding: 32px 32px 160px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.dangnhap-thq-title-elm1 {
  gap: 24px;
  top: 32px;
  left: 32px;
  width: 262px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dangnhap-thq-logotchnn1-elm2 {
  width: 262px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.dangnhap-thq-logotchnn1-elm3 {
  top: 0px;
  left: 0px;
  width: 262px;
  height: 72px;
  position: absolute;
  align-self: stretch;
}
 
.dangnhap-thq-slot-elm {
  gap: 16px;
  top: 32px;
  left: 493px;
  width: 540px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.dangnhap-thq-text-link-list-elm1 {
  gap: 12px;
  width: 262px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dangnhap-thq-title-elm2 {
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dangnhap-thq-text-strong-elm1 {
  display: flex;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm19 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.dangnhap-thq-text-link-list-elm2 {
  gap: 12px;
  width: 262px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dangnhap-thq-title-elm3 {
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dangnhap-thq-text-strong-elm2 {
  display: flex;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm20 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.dangnhap-thq-frame69-elm {
  gap: 18px;
  top: 131px;
  left: 32px;
  width: 374px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dangnhap-thq-frameach-elm1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-mappin-elm1 {
  width: 24px;
  height: 24px;
}
 
.dangnhap-thq-text-elm21 {
  width: 344px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-text-elm22 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-frameach-elm2 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-mappin-elm2 {
  width: 24px;
  height: 24px;
}
 
.dangnhap-thq-text-elm23 {
  width: 344px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-text-elm24 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-hotline-elm {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-phone-elm {
  width: 20px;
  height: 20px;
}
 
.dangnhap-thq-text-elm25 {
  width: 348px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-text-elm26 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-mail-elm1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-mail-elm2 {
  width: 24px;
  height: 24px;
}
 
.dangnhap-thq-text-elm27 {
  width: 344px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-text-elm28 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.dangnhap-thq-frame70-elm {
  gap: 21px;
  top: 86px;
  left: 1168px;
  width: 223px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.dangnhap-thq-socialicon-elm1 {
  width: 40px;
  height: 40px;
}
 
.dangnhap-thq-socialicon-elm2 {
  width: 40px;
  height: 40px;
}
 
.dangnhap-thq-instagram-elm1 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dangnhap-thq-bg-elm1 {
  top: 2.5px;
  left: 2.5px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 6px;
}
 
.dangnhap-thq-bg-elm2 {
  top: 2.5px;
  left: 2.5px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 6px;
}
 
.dangnhap-thq-bg-elm3 {
  top: 2.5px;
  left: 2.5px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 6px;
}
 
.dangnhap-thq-instagram-elm2 {
  top: 7.5px;
  left: 7.5px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.dangnhap-thq-socialicon-elm3 {
  width: 40px;
  height: 40px;
}
 
.dangnhap-thq-text-strong-elm3 {
  top: 34px;
  left: 1168px;
  width: 226px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.dangnhap-thq-text-elm29 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.dangnhap-link {
  display: contents;
}
 
.dangnhap-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.dangnhap-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.dangnhap-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}